/* Normalize browser styles */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    margin: 10;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  a {
    background-color: transparent;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  img {
    border-style: none;
  }
  
  /* Styling starts from here */
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html {
    height: 100%;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  
  body {
    font-family: Helvetica, sans-serif;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    background-color: #f5f5f5;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  table {
    width: 100%;
    table-layout: fixed;
  }
  td {
    word-break: break-all;
    vertical-align: top;
  }
  th, td {
    padding: 15px;
    text-align: left;
  }

th {background: #CCC}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #f5f5f5}